// Colors
$light-text-color = #eaedea
$loader-color = white
$login-color = #f4a742
$signup-color = #1E90FF

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

h2
  font-size: 28px

a, button, input[type="button"]
  outline none !important
  &::-moz-focus-inner
    border: 0 !important
a
  display block
  text-decoration none
  color black
  padding 0
  margin 0

input[type="button"], button
  background none
  height 40px
  cursor pointer
  font-weight bold
  border none
  outline none !important
  border 0
  &::-moz-focus-inner
    border: 0 !important
